.container-fluid.header
  .col-md-4
    .user-avatar
      = image_tag current_user_role_avatar, class: 'img img-thumbnail img-circle'
    .user-info
      .user-name
        = current_user.name
      %small.user-role
        =  'Daycare %s' % current_user.role.humanize

  .col-md-4
    - unless current_user.medical_professional?
      .user-home.centralize
        = link_to dashboard_path, class: 'img' do
          = image_tag 'home-2.png', class: 'img'

  .col-md-4
