<% content_for :page_title, @todo.title.titleize %>
<% content_for :previous_path, todos_path %>

<div class="row" id="todo">
  <div class="twelvecol">
    <div class="icon">
      <%= image_tag @todo.icon.file.thumb %>
    </div>
    <form>
      <div class="form-group">
        <label>Title</label>
        <input type="text" readonly="true" value="<%= @todo.title %>" class="form-control">
      </div>
      <div class="form-group">
        <label>Iteration Type</label>
        <input type="text" readonly="true" value="<%= @todo.iteration_type.titleize %>" class="form-control">
      </div>
      <div class="form-group">
        <label>Frequency</label>
        <input type="text" readonly="true" value="<%= @todo.frequency.try(:titleize) %>" class="form-control">
      </div>
      <div class="page-header">
        <h2>Tasks</h2>
      </div>
      <ol id="complete-task">
        <% @todo_complete.task_completes.each do |tk| %>
          <li>
            <b>Title</b>
            <p><%= tk.todo_task.title %></p>
            <b>Description</b>
            <p><%= tk.todo_task.description %></p>
            <% unless tk.pass? %>
              <%= link_to 'Complete', todo_task_complete_path(tk), method: :patch, :class => 'btn btn-blue btn-normal' %>
            <% else %>
              <i class="icon-checkmark"></i>
            <% end %>

            <% if tk.sub_task_completes.present? %>
              <b>Sub-tasks</b>
              <% tk.sub_task_completes.each do |sub_task_complete| %>
                <div class='subtask'>
                  <% unless sub_task_complete.pass? %>
                    <%= link_to content_tag(:i, '', class:"icon-checkmark #{sub_task_complete.result}"), sub_task_complete_path(sub_task_complete), method: :patch %>
                  <% else %>
                    <i class="icon-checkmark pass"></i>
                  <% end %>
                  <p><%= sub_task_complete.sub_task.title %></p>
                </div>
              <% end %>
            <% end %>
          </li>

        <% end %>
      </ol>
    </form>
  </div>
</div>
