<%= form_for [:manager, @todo] do |f| %>
  <% if @errors.present? && @errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= image_tag @todo.icon.file.thumb unless @todo.icon.nil? %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'form-control', readonly: true %>
  </div>
  <div class="form-group">
    <%= f.label :iteration_type %>
    <input type="text" readonly="true" value="<%= @todo.iteration_type.titleize %>" class="form-control">
    <%= f.hidden_field :iteration_type, value: @todo.iteration_type %>
  </div>
  <% unless @todo.single? %>
    <div class="form-group">
      <%= f.label :frequency %>
      <input type="text" readonly="true" value="<%= @todo.iteration_type.titleize %>" class="form-control">
      <%= f.hidden_field :frequency, value: @todo.frequency %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label 'Completion Date' %>
    <input type="text" readonly="true" value="<%= pluralize(@todo.completion_date_value, @todo.completion_date) %>" class="form-control">
    <%= f.hidden_field :completion_date_value, value: @todo.completion_date_value %>
    <%= f.hidden_field :completion_date_type, value: @todo.completion_date_type %>
  </div>

  <div class="page-header">
    <h2>Tasks</h2>
  </div>
  <div id="tasks" class="multi-field">
    <% @todo.global_tasks.each do |task | %>
      <div class="fields">
        <div class="form-group">
            <label>Title</label>
            <input type="text" readonly="true" value="<%= task.title %>" class="form-control">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" readonly="true" value="<%= task.description %>" class="form-control">
        </div>
        <% if task.global_sub_tasks.present? %>
          <div class="form-group">
            <label>Sub-Tasks</label>
          </div>
          <% task.global_sub_tasks.each do |sub_task| %>
            <div class="form-group">
              <input type="text" readonly="true" value="<%= sub_task.title %>" class="form-control">
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%= f.fields_for :tasks, @todo.local_tasks do |ff |%>
      <%= render partial: 'task_fields', locals: { f: ff } %>
    <% end %>
    <%= custom_link_to_add_fields "Add Task", f, :tasks %>
  </div>
  <%= f.submit 'Save', :class => 'btn btn-blue btn-block btn-large' %>
<% end %>
