<% content_for :page_title, "Todo Access" %>
<% content_for :previous_path, dashboard_manager_todos_path %>

<div class="row" id="todos">
    <div class="twelvecol">
        <%= form_tag search_manager_todos_path, method: :get do %>
            <div class="form-prefix">
                <span><i class="icon-search"></i></span>
                <%= text_field_tag(:query, params[:query], autocomplete: 'off', tabindex: "1", :class => 'form-control') %>
            </div>
        <% end %>
        <div class="page-header">
            <h2>Todos</h2>
        </div>
        <% if current_user.all_todos.empty? %>
            <p>You have no Todos currently.</p>
        <% else %>
            <ul>
                <% current_user.all_todos.each do |todo| %>
                    <li>
                        <div>
                        <%= todo.id %>
                            <%= image_tag todo.icon.file.thumb %>
                        </div>
                        <span><%= truncate(todo.title, length: 12) %></span>
                        <%= link_to 'Show', manager_todo_path(todo), :class => 'btn btn-blue btn-normal btn-block' %>
                    </li>
                <% end %>
            </ul>
        <% end %>
    </div>
</div>