<% content_for :page_title, @todo.title %>
<% content_for :previous_path, manager_todos_path %>

<div class="row" id="todo">
  <div class="twelvecol">
    <%= link_to 'Delete', manager_todo_path(@todo), method: :delete, :class => 'btn btn-normal btn-red', id: 'delete-todo' %>
    <%= link_to 'Edit', edit_manager_todo_path(@todo), :class => 'btn btn-normal btn-green', id: 'edit-todo' %>
    <%= link_to 'Report', manager_reports_todo_set_date_range_path(@todo), :class => 'btn btn-normal btn-orange', id: 'report-todo' %>
    <div class="icon">
      <%= image_tag @todo.icon.file.thumb %>
    </div>
    <form>
      <div class="form-group">
        <label>Title</label>
        <input type="text" readonly="true" value="<%= @todo.title %>" class="form-control">
      </div>
      <div class="form-group">
        <label>Iteration Type</label>
        <input type="text" readonly="true" value="<%= @todo.iteration_type.titleize %>" class="form-control">
      </div>
      <% unless @todo.single? %>
        <div class="form-group">
          <label>Frequency</label>
          <input type="text" readonly="true" value="<%= @todo.frequency.titleize %>" class="form-control">
        </div>
      <% end %>
      <div class="form-group">
        <label>Completion date</label>
        <input type="text" readonly="true" value="<%= pluralize(@todo.completion_date_value, @todo.completion_date) %>" class="form-control">
      </div>
      <div class="page-header">
        <h2>Tasks</h2>
      </div>
      <ol>
        <% @todo.tasks.each do |tk| %>
          <li>
            <b>Title</b>
            <p><%= tk.title %></p>
            <b>Description</b>
            <p><%= tk.description %></p>
            <% if tk.sub_tasks.present? %>
              <b>Sub-tasks</b>
              <% tk.sub_tasks.each do |sub_task| %>
                <p><%= sub_task.title %></p>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ol>
    </form>
  </div>
</div>
