<%= form_for [:admin, @todo] do |f| %>
    <div class="threecol"></div>
    <div class="ninecol last">
        <%= render partial: 'shared/admin/errors', locals: { object: @todo } %>
    </div>

    <div class="threecol">
        <h3>Todo details</h3>
        <p>Set the title, iteration type, frequency and completion date for your todo.</p>
    </div>
    <div class="ninecol last">
        <fieldset class="widget widget-content">
            <div class="form-group">
                <%= f.label :title %>
                <%= f.text_field :title, :class => 'form-control' %>
            </div>
            <div class="form-group">
                <%= f.label :iteration_type %>
                <%= f.select :iteration_type, Todo.iteration_types.keys.map {|type| [type.titleize,type]}, {}, :class => 'form-control iteration-selector' %>
            </div>
            <div class="form-group frequency-fields">
                <%= f.label :frequency %>
                <%= f.select :frequency, Todo.frequencies.keys.map {|type| [type.titleize,type]}, {}, :class => 'form-control' %>
            </div>
            <div class="form-group form-last">
                <%= f.label 'Completion Date' %>
                <div class="form-coupling">
                    <%= f.text_field :completion_date_value, :class => 'form-control' %>
                    <%= f.select :completion_date_type, Todo.completion_date_types.keys.map {|type| [type.split('_').last.titleize,type]}, {}, :class => 'form-control' %>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="threecol">
        <h3>Icon</h3>
        <p>Set the icon imagery for your todo.</p>
    </div>
    <div class="ninecol last">
        <fieldset class="widget widget-content">
            <%= image_tag @todo.icon.file.thumb unless @todo.icon.nil? %>
            <div class="form-group form-last">
                <%= f.fields_for :icon do |ff| %>
                <%= ff.file_field :file %>
                <% end %>
            </div>
        </fieldset>
    </div>
    <div class="threecol">
        <h3>Tasks</h3>
        <p>Set the required tasks for your todo.</p>
        <%= custom_link_to_add_fields "Add Task", f, :tasks %>
    </div>
    <div class="ninecol last">
        <fieldset class="widget widget-content">
            <div id="tasks" class="fields">
                <%= f.fields_for :tasks do |ff |%>
                    <%= render partial: 'task_fields', locals: { f: ff } %>
                <% end %>
            </div>
        </fieldset>
    </div>
    <div class="threecol">
        <h3>Departments</h3>
        <p>Assign the relevant departments for your todo.</p>
    </div>
    <div class="ninecol last">
        <fieldset class="widget widget-content widget-last">
            <div class="form-group form-last">
                <%= f.collection_select :department_ids, @departments, :id, :name, {}, {:class => 'chosen', multiple: true, data: {placeholder: "Select departments..."}} %>
            </div>
        </fieldset>
        <div class="form-action">
            <%= f.submit 'Submit', :class => 'btn btn-blue btn-large' %>
        </div>
    </div>
<% end %>
