= content_for :title, t('illnesses.illness')

.row
  .page-header
    %h3= t('illnesses.illness')

.row#main-menu.illnesses
  .menu-items
    .row
      %label.step-instruction= t('illnesses.labels.filter_records_for')

    .row
      .col-md-6.centralize
        = link_to list_illnesses_path(record_type: 'child'), class: 'btn btn-raised' do
          = image_tag 'back_four.png'
          %span= t('illnesses.labels.child')

      .col-md-6.centralize
        = link_to list_illnesses_path(record_type: 'department'), class: 'btn btn-raised' do
          = image_tag 'back2_two.png'
          %span= t('illnesses.labels.department')
