<% content_for :page_title, "Report #{@todo.title} Todo" %>
<% content_for :previous_path, manager_reports_todo_set_date_range_path(@todo) %>

<div class="row todo-report-info" id="todo">
    <div class="twelvecol">
        <a href="#" class="btn btn-normal btn-green" id="print-todo">Print</a>
        <div class="icon">
            <%= image_tag @todo.icon.file.thumb %>
        </div>
        <div class="info">
            <h2><%= @todo.title.titleize %></h2>
            <p><b>Start Date/Time:</b> <%= params[:start_date].to_datetime.strftime('%d/%m/%Y at %I:%M%p') %></p>
            <p><b>End Date/Time:</b> <%= params[:end_date].to_datetime.strftime('%d/%m/%Y at %I:%M%p') %></p>
        </div>
    </div>
</div>
<% if @todo_completes.empty? %>
    <div class="row">
        <div class="alert alert-warning">
            <i class="icon-warning"></i>
            None of your parents or workers have started or completed this todo yet within the set of date parameters provided
        </div>
    </div>
<% end %>
<% @todo.tasks.each_with_index do |task, index| %>
    <% @report = TodoReporter.new(todo_completes: @todo_completes, task_id: task.id).percentages %>
    <div class="row todo-report">
        <div class="sixcol">
            <h3><%= task.title %></h3>
            <p><%= task.description %></p>
            <p><b>Complete:</b> <span class="green"><%= @report[:complete].round %></span></b></p>
            <p><b>Incomplete:</b> <span class="red"><%= @report[:incomplete].round %></span></b></p>
        </div>
        <div class="sixcol last">
            <canvas id="piePaymentTypeChart<%= task.id %>" width="150" height="150" class="pie-chart"></canvas>
            <%= render partial: 'shared/chart/pie', format: [:html], locals: {
                    datasets:  Hash(complete: { value: @report[:complete].round, color: "#8DC73F" }, incomplete: { value: @report[:incomplete].round, color: '#CD2626' }),
                    id: "piePaymentTypeChart#{task.id}"
                } %>
        </div>
    </div>
<% end %>