<% content_for :title, 'Dashboard' %>
<% content_for :breadcrumb, 'Dashboard' %>

<div class="twelvecol">
	<div class="page-header">
		<h2 class="widget widget-header">Dashboard</h2>
	</div>
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Resource</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Users</td>
					<td>
						<%= link_to admin_users_path do %>
							<i class="icon-search"></i>
						<% end %>
					</td>
				</tr>
				<tr>
					<td>Todos</td>
					<td>
						<%= link_to admin_todos_path do %>
							<i class="icon-search"></i>
						<% end %>
					</td>
				</tr>
				<tr>
					<td>Daycares</td>
					<td>
						<%= link_to admin_daycares_path do %>
							<i class="icon-search"></i>
						<% end %>
					</td>
				</tr>
				<tr>
					<td>Discount Codes</td>
					<td>
						<%= link_to admin_discount_codes_path do %>
							<i class="icon-search"></i>
						<% end %>
					</td>
				</tr>
				<tr>
					<td>Plans</td>
					<td>
						<%= link_to admin_plans_path do %>
							<i class="icon-search"></i>
						<% end %>
					</td>
				</tr>
				<tr>
					<td>Departments</td>
					<td>
						<%= link_to admin_departments_path do %>
							<i class="icon-search"></i>
						<% end %>
					</td>
				</tr>
				<tr>
					<td>Subjects</td>
					<td>
						<%= link_to admin_subjects_path do %>
							<i class="icon-search"></i>
						<% end %>
					</td>
				</tr>
				<tr>
					<td>Surveys</td>
					<td>
						<%= link_to admin_survey_subjects_path do %>
							<i class="icon-search"></i>
						<% end %>
					</td>
				</tr>
				<tr>
					<td>Message Templates</td>
					<td>
						<%= link_to admin_message_templates_path do %>
							<i class="icon-search"></i>
						<% end %>
					</td>
				</tr>
				<tr>
					<td>Illness</td>
					<td>
						<%= link_to admin_illnesses_path do %>
							<i class="icon-search"></i>
						<% end %>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
