= form_for [:admin, @template] do |f|
  = hidden_field_tag :subject_title, params[:subject_title]
  = hidden_field_tag :sub_subject_title, params[:sub_subject_title]
  = f.hidden_field :target_role, value: params[:target_role] || @template.target_role

  %fieldset
    .form-group
      %label.step-instruction{for: 'language'}= t('messages.labels.choose_language')
      = f.select :language, options_for_select(options_for_template_localizations, @template.language || I18n.default_locale), {}, class: 'form-control'

    .form-group
      %label.step-instruction{for: 'content'}= t('messages.labels.edit_and_save')
      = f.text_area :content, id: 'message_template_content'

    - if action_name != 'edit'
      .form-group
        %label.step-instruction= t('messages.labels.upload_template')
        %input{type: 'file', name: 'upload_template', id: 'upload-template'}
        .input-group
          %input{type: 'text', readonly: '', class: 'form-control', placeholder: 'Upload file'}
          %span.input-group-btn.input-group-sm
            %button{type: 'button', class: 'btn btn-fab btn-fab-mini'}
              %i.material-icons attach_file

  .form-buttons
    .col-md-6
      - if @template.present?
        %a{href: admin_message_templates_path, class: 'btn btn-raised btn-info'}= t('form_labels.cancel')
      - else
        %a{href: recipient_admin_message_templates_path(params), class: 'btn btn-raised btn-info'}= t('form_labels.back')
    .col-md-6
      = submit_tag t('form_labels.save'), class: 'btn btn-raised btn-success'
