= content_for :title, 'Create Message'

#main-content
  = form_for [:admin, @message] do |f|
    .form-group
      %label.step-instruction{for: :target_roles}= t('messages.labels.choose_recipient')
      - Message.allowed_recipients_for_role(current_user.role).each do |target_role|
        .radio
          %label
            = radio_button_tag 'message[target_roles][]', target_role, checked: true
            = target_role.humanize.pluralize

    .form-group
      %label.step-instruction{for: :title}= t('messages.labels.title')
      = f.text_field :title, placeholder: t('messages.labels.write_title'), class: 'form-control', required: true

    .form-group
      %label.step-instruction{for: :content}= t('messages.labels.write_message_content')
      = f.text_area :content, id: 'message_content'

    .form-buttons
      .col-md-6
        %a{href: admin_message_templates_path, class: 'btn btn-raised btn-info'}= t('form_labels.cancel')
      .col-md-6
        = submit_tag t('form_labels.send'), class: 'btn btn-raised btn-success'
