= content_for :title, 'New Notification'
- step_size = 5
- page_step = 2

.page-header
  %h3= choose_recipient_header

.row
  = render partial: '/shared/progress_bar', locals: {step_size: step_size, page_step: page_step}

#main-content
  %h4.step-instuction= t('messages.labels.choose_recipient')

  = form_tag subject_manager_messages_path, method: :get do
    = hidden_field_tag :target_department, params[:target_department]

    .form-group
      - Message.allowed_recipients_for_role(current_user.role).each do |target_role|
        .radio
          %label
            %input{type: 'radio', name: 'target_role', value: target_role, checked: params[:target_role] == target_role, required: true}
            = target_role.humanize.pluralize

    .form-buttons
      .col-md-6
        %a{href: select_department_manager_messages_path(target_department: params[:target_department]), class: 'btn btn-raised btn-info'} Back
      .col-md-6
        = submit_tag 'Next', class: 'btn btn-raised btn-success'
