= content_for :title, 'New Notification'
- step_size = 5
- page_step = 1

.page-header
  %h3= choose_department_header

.row
  = render partial: '/shared/progress_bar', locals: {step_size: step_size, page_step: page_step}

#main-content
  %h4.step-instuction= t('messages.labels.choose_department')

  = form_tag recipient_manager_messages_path, method: :get do
    .form-group
      - @departments.each do |department|
        .radio
          %label
            %input{type: 'radio', name: 'target_department', value: department.id, checked: params[:target_department].to_i == department.id, required: true}
            = department.name

    .form-buttons
      .col-md-6
        %a{href: manager_messages_path, class: 'btn btn-raised btn-info'}= t('form_labels.back')
      .col-md-6
        = submit_tag t('form_labels.next'), class: 'btn btn-raised btn-success'
