= content_for :title, 'New Message'
- step_size = 5
- page_step = 3

.page-header
  %h3= choose_subject_header

.row
  = render partial: 'shared/progress_bar', locals: {step_size: step_size, page_step: page_step}

#main-content
  %h4.step-instruction= t('messages.labels.choose_subject')

  = form_tag sub_subject_manager_messages_path, method: :get do
    = hidden_field_tag :target_department, params[:target_department]
    = hidden_field_tag :target_role, params[:target_role]

    .form-group
      = select_tag :subject_id, options_from_collection_for_select(@subjects, 'id', 'title', params[:subject_id]), class: 'form-control'

    .form-buttons
      .col-md-6
        %a{href: recipient_manager_messages_path(target_department: params[:target_department], target_role: params[:target_role]), class: 'btn btn-raised btn-info'}= t('form_labels.back')
      .col-md-6
        = submit_tag t('form_labels.next'), class: 'btn btn-raised btn-success'
