#legacy-welcome.legacy
  .row.welcome
    .col-xs-10.col-xs-offset-1.outer
      .main-heading
        Welcome
      .tag-line
        Lets get started and choose who you are!
      .wrapper
        .col-sm-6.col-lg-4
          = link_to parentee_select_daycare_path do
            .block
              .circle.parent-border
                = image_tag 'parent.png'
            %h5
              Daycare Parent
        .col-sm-6.col-lg-4
          = link_to worker_select_daycare_path do
            .block
              .circle.worker-border
                = image_tag 'worker.png'
            %h5
              Daycare Worker
        .col-sm-6.col-lg-4
          = link_to new_user_registration_path(role: 'manager') do
            .block
              .circle.manager-border
                = image_tag 'manager.png'
            %h5
              Daycare Manager
        .col-sm-6.col-lg-4
          = link_to new_user_registration_path(role: 'partner') do
            .block
              .circle.partner-border
                = image_tag 'partner.png'
            %h5
              Daycare Partner
