#legacy-back-three
  .container.back-page-content
    .row.back-page
      .col-md-12
        .infect-heading{'data-step'=>"7", 'data-intro'=>"In this section you are see videos", 'data-position' => 'top'}
          = image_tag 'introduction.png'
          %h2 Instruction
          %p Detect the level of infection risk in your facility
      .col-md-6.left-side
        .single{'data-step'=>"8", 'data-intro'=>"Infection preventive food handling", 'data-position' => 'right'}
          = image_tag 'back3_one.png'
          %h2 Infection preventive food handling
          %p
            The storage, preparation and distribution of food in childcare facilities present some unique challenges for children and staff alike. With numerous opportunities for cross-contamination and food-borne illnesses and the potential of germs entering from other areas of the daycare, the food preparation area is the vulnerable "nerve center" of the facility. As a result, stringent protocols must be implemented to assure safe food handling and healthy, contaminant-free meals.
          %h4.click-here
            %a{:href => "/trainings/1"} Click here to access infection risk assessment for this module
        .single{'data-step'=>"9", 'data-intro'=>"Infection preventive exclusion of sick children", 'data-position' => 'right'}
          = image_tag 'back3_two.png'
          %h2 Infection preventive exclusion of sick children
          %p
            Children and staff at childcare establishments come in contact with many pathogens every day. Healthy children could be exposed to sick children at the center, and possibly get infected, too. To control the transmission of disease at your daycare, it is important to exclude sick children from your center until they become healthy again.
          %h4.click-here
            %a{:href => "/trainings/2"} Click here to access infection risk assessment for this module
        .single{'data-step'=>"10", 'data-intro'=>"Infection preventive diapering", 'data-position' => 'right'}
          = image_tag 'back3_three.png'
          %h2 Infection preventive diapering
          %p
            The diapering area can easily be the most contaminated zone in a daycare center. Common communicable gastrointestinal diseases can be passed from person to person, even if no symptoms of the illness are present. In fact, norovirus and rotavirus are continually excreted through feces for at least 30-60 days after symptoms have ceased.
          %h4.click-here
            %a{:href => "/trainings/3"} Click here to access infection risk assessment for this module
      .col-md-6.right-side
        .single{'data-step'=>"11", 'data-intro'=>"Infection preventive outbreak control strategies", 'data-position' => 'left'}
          = image_tag 'back3_four.png'
          %h2 Infection preventive outbreak control strategies
          %p
            Several risk factors that contribute to a potentially severe outbreak of disease are inherent with childcare centers. Such an outbreak would spread rapidly due to children’s habits of handling and sucking foreign objects, the high number of occupants and the close physical proximity typically found in daycares.
            Childcare managers must have a comprehensive understanding of the potential for disease propagation during an outbreak to be able to take the necessary steps to contain or eradicate the disease.
          %h4.click-here
            %a{:href => "/trainings/4"} Click here to access infection risk assessment for this module
        .single{'data-step'=>"12", 'data-intro'=>"Infection preventive cleaning of bodily fluids", 'data-position' => 'left'}
          = image_tag 'back3_five.png'
          %h2 Infection preventive cleaning of bodily fluids
          %p
            Childcare facilities cope with a daily battle of bodily fluids that might be regarded as dangerous biohazards in other industries. The little "bundles of joy" in daycares cause a set of circumstances that pose serious health risks to the facilities’ children, employees and their expanded social networks. Furthermore, one does not need to make direct contact with bodily fluids of a sick individual for pathogens to be passed on. If vomit and fecal episodes aren't disinfected properly or remain unattended for an extended time, the pathogens will become airborne and spread to other surfaces and individuals.
          %h4.click-here
            %a{:href => "/trainings/5"} Click here to access infection risk assessment for this module
        .single{'data-step'=>"13", 'data-intro'=>"Infection preventive hand washing", 'data-position' => 'left'}
          = image_tag 'back3_six.png'
          %h2 Infection preventive hand washing
          %p
            Hand hygiene and proper hand washing constitute the first line of defense against the spread of infection. Infection-spreading germs are easily accumulated on and shared by our hands, resulting in unsanitary conditions in daycare settings.
          %h4.click-here
            %a{:href => "/trainings/6"} Click here to access infection risk assessment for this module