<div class="legacy-path">
  <div class="container">
    <div class="row promo">
      <div class="promo-img">
        <%= image_tag 'home_slider.jpg' %>
        <div class="img-text image-text-path">
          <h2>You’re just 3 steps away from being<br>part of The Health Preserving Accreditation</h2>
          <p>Note that our health-preserving accreditation program has 3 major components. This program will acquaint you with high level of knowledge on six intertwined areas of infection risk exposure to children and staff. Plus a clear, effective infection prevention protocol to help your facility mitigate these risks.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12.col-md-12.col-sm-12.col-xs-12">
        <ul class="nav nav-pills" id="page-menu">
          <li role="presentation">
            <a href="/mission">
              <i class="fa fa-angle-right"></i>
              1. The Mission
            </a>
          </li>
          <li role="presentation">
            <a href="/standard">
              <i class="fa fa-angle-right" style="background: #FFBA03;"></i>
              2. The Standard
            </a>
          </li>
          <li class="active" role="presentation">
            <a href="/path">
              <i class="fa fa-angle-down" style="background: #89AF3A;"></i>
              3. The Path to Accreditation
            </a>
          </li>
          <li role="presentation">
            <a href="#">
              <i class="fa fa-angle-right" style="background: #1FA5AB;"></i>
              Your Journey!
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="container" id="path-content">
    <div class="row first">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-left-content">
        <div class="shedule">
          <h4>Designed to complement your busy schedule</h4>
          <p>Our ongoing Program is designed so your staff can receive training without interrupting their regular work. Once you start, your childcare facility will get access to a new module every two weeks so your staff can effectively integrate what they learn at a natural pace. <b>After 90 days of training</b>, your facility will gain Accreditation--provided that the instruction and implementation components have been put into practice. The value of accreditation continues and is reinforced by yearly reaccreditation.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-right-content">
        <div class="third-step-description">
          <p>
            The Health-preserving care accreditation program has three major components:
            <br><span class="points">1. Infection Risk assessment component</span>
            <br><span class="points">2. Instruction on the best infection prevention practices.</span>
            <br><span class="points">3. Implementation component – to ensure the best</span>
            <br>              practices are reinforced and upheld.
                              Over the course of the paid program, you’ll cover six core modules in both the instruction and implementation components of the program. The scope of these extends to cover six foundational areas that have been proven by and extensive research as necessary for a healthy childcare environment.
          </p>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 left_line"><hr class="dash"></div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4" id="center"><%= image_tag 'Layer22copy.png' %></div>
      <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 right_line"><hr class="dash"></div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-left-content">
        <div class="first-step">
          <h2 id="risk-assessment">FIRST STEP: INFECTION RISK ASSESSMENT</h2>
          <p>
            The infection risk assessment component is the first step in the journey to your facility’s infection prevention excellence. It allows you as childcare manager to discover your staff’s level of competency in the six core areas of infection control.<br>
            <br>This assessment also enables you to detect exactly, the scope of risk of disease and infection in your facility, your staff may be exposing children and other employees to.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-right-content">
        <div class="third-step-description">
          <p id="risk-assessment-right">
            The infection assessment constituent of our program is free of charges. This is because we firmly believe that you should only pay for the program once you are convinced of its value. The best way to be sure that infection preventive and health- preserving care program is the best fit for your organization is through our free infection risk assessment component.<br><br>
            We offer a free 14-day trial risk assessment evaluation. This line of action will allow you as a childcare manager, to discover your staff`s level of competency in the six core areas of infection control.  This way, you will be in a better position to upgrade and have access to the full program. In this case, your childcare staff will now get access to the second and third step of the program.
          </p>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 left_line"><hr class="dash"></div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 center"><%= image_tag 'Layer7copy.png' %></div>
      <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 right_line"><hr class="dash"></div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-left-content">
        <div class="second-step">
          <h2>Second Step: Instruction on the Best Infection preventive practices</h2>
          <p>
            Adequate training is an important component of a successful daycare center. Knowledge of infection control is the first step in rooting out the causes of the spread of diseases and their risk to children and employees.
            <br><br>Training reduces guesswork, replacing it with confidence and proactive conduct on the part of your employees. This lowers employee stress, reduces employee turnover and motivates your employees to thrive. Appropriate training for a given scenario can even save lives.
            <br><br>Infection preventive training also gives your daycare a clear performance path for your employees, enabling them to make infection preventive choices which are intrinsically linked with a healthier childcare environment.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-right-content">
        <div class="third-step-description">
          <p class="second-right">
            <span>
              Web-based for maximum flexibility, convenience, and location independence
            </span>
            <br>
            Because we’re fully aware that your workers are usually busy taking care of children, we specifically made the Instruction components of our program online based. Your staff will be able to do their learning in the convenience of their home, or anywhere else they prefer.
            <br><br>
            <span>
              Best practices for the entire childcare community
            </span>
            <br>
            (body copy) All our courses will be open to your entire child care community, including parents. Infection in childcare facilities also affects parents either directly or indirectly.
            <br><br>
            Additionally, children who observe the proper infection-prevention practises in use, both at home and in the childcare, will be learning life skills at a young age that they will be able to take with them for the rest of their lives.Therefore,the health-preserving practices of your staff and children's parents can positvely affect generations to come.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 left_line"><hr class="dash"></div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 center"><%= image_tag 'layer79.png' %></div>
      <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 right_line"><hr class="dash"></div>
    </div>


    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-left-content">
        <div class="third-step">
          <h2>THIRD STEP: Implementation: Reinforcing <br>newly-learned skills </h2>

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-right-content">
        <div class="third-step-description">
          <p>
            <b>Proper implementation is the key to ensuring that the newly-learned skills and practices will not be forgotten.</b><br>
            The implementation phase takes place in a real-life scenario of your childcare facility. All participants will have access to tools that will enable them to record the best practices as they apply them. Therefore, as a childcare facility operator, you can track, measure and ensure that the infection preventive best practices are implemented and upheld.
          </p>
        </div>
      </div>

    </div>

    <div class="row line"><hr class="dash"></div>

    <div class="row" id="last">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-left-content">
        <div class="third-step">
          <p>
            <b>Now that you have learned about the three components, read on to discover the six core modules of the Accreditation Program.</b>
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-right-content">
        <div class="start-journey">
          <div class="journey-next">
            <p>Assess and evaluate your staffs compitency  in  infection prevention.</p>
            <h2>
              Start your Journey
              <%= link_to getting_started_path do %>
                <i class="fa fa-angle-right"></i>
              <% end %>
            </h2>
            <p>and get complimentary access here</p>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
