<div id="legacy-upgrade">
  <div class="container main-theme">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 toward-higher">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 back-theme">
               <h3 class="text-theme">Healthier Childcare membership</h3> 
                <p class="text-theme">Enjoy the benefits of being part of our Healthier Childcare network.<br>
                Though you will not be accredited, you can access our highly informative program to help you mitigate risk of infections in your childcare community. 
                </p>
            </div>
            <div class="payment_form"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rang-block">
                <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 back-theme rang-col pro">
                  <h4 class ="text-theme rang-text pro">Professional Member:</h4>
                  <h3 class="text-theme rang-text pro">$20 / month</h3>
                  <div class="row tick-theme pro">
                    <div class="col-md-12 pro">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1">Print edition of Risk assessment</p>
                      </div> 
                    </div>    
                    <div class="col-md-12 pro">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1">Printable Pdf version of our instruction component of the program</p>
                      </div> 
                    </div> 
                    <div class="col-md-12 pro">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1">Periodic newsletter</p>
                      </div> 
                    </div> 
                    <div class="col-md-10 col-md-offset-2">
                     <!--  <a href=""><button type="submit" class="btn btn-primary book-btn pro proo">Book Now</button> -->
                     <%= link_to "Book Now", new_plan_subscription_path(@plan1) ,remote: true, class: 'btn btn-primary book-btn pro proo'%>
                    </div>
                  </div>  
                </div>
                <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 back-theme rang-col commit">
                  <h4 class ="text-theme rang-text commit">Comitted Member: </h4>
                  <h3 class="text-theme rang-text commit">$49 / month</h3>
                  <div class="row tick-theme commit">
                    <div class="col-md-12 commit">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1">Online Risk assessment</p>
                      </div> 
                    </div>    
                    <div class="col-md-12 commit">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1">Online Training</p>
                      </div> 
                    </div>
                    <div class="col-md-12 commit">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1">The book -Infected: The Urgent Necessity for DayCare Facilities to Keep Children,Staff and Communities Safe</p>
                      </div> 
                    </div> 
                    <div class="col-md-12 commit">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1">Periodic newsletter</p>
                      </div> 
                    </div> 
                    <div class="col-md-10 col-md-offset-2">
                      <!-- <button type="button" class="btn btn-primary book-btn commit">Book Now</button> --> 
                      <%= link_to "Book Now", new_plan_subscription_path(@plan2) ,remote: true, class: 'btn btn-primary book-btn commit'%>
                    </div>  
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 back-theme rang-last acc">
                 <h4 class ="text-theme rang-text acc">Accreditation Member:</h4>
                 <h3 class="text-theme rang-text acc">$99 / month</h3>
                 <div class="row tick-theme acc">
                    <div class="col-md-12 acc">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1">Online Risk assessment</p>
                      </div> 
                    </div>    
                    <div class="col-md-12 acc">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1">Online Training</p>
                      </div> 
                    </div>
                    <div class="col-md-12 acc">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1">Online and offline tools for tracking and implementation</p>
                      </div> 
                    </div>
                    <div class="col-md-12 acc">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1">Periodic newsletter</p>
                      </div> 
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                      <!-- <button type="button" class="btn btn-primary book-btn acc">Book Now</button> -->
                      <%= link_to "Book Now", new_plan_subscription_path(@plan3) ,remote: true, class: 'btn btn-primary book-btn acc'%>
                    </div>   
                  </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="ongoing">
                <div class="ongoing-heading">
                    <h2>ONGOING ACCREDITATION MEMBERSHIP BENEFITS</h2>
                    <p>Once you’re accredited with HSCA, you will have a vast array of benefits that will enhance your childcare management. There will be a higher the level of understanding on infection and disease control in your facility, community and the industry.  Here are some of the perks you can look forward to as a result of your accreditation:</p>
                </div>
                 <div class="single-ongoing pink">
                    <%= image_tag '01.png' %>
                    <p>
                      <a href="">http://www.iconarchive.com/show/flat-style-icons-by-flaticonmaker/email-icon.html
                      </a><br>
                      <span class="periodic-pin"><b>Periodic letter—</b>
                      Receive the latest health and safety messages from the most cutting-edge research on infection mitigation in your facility. Rest assured you will stay up-to-date with information about mitigating risk of infections in your childcare facility.</span>
                    </p>
                </div>
                 <div class="single-ongoing pink">
                    <%= image_tag '02.png' %>
                    <p>
                      <span class="periodic-pin"><b>Assess the scope of infection risk in your facility</b><br>
                      Get  insight in your employees level of competence in the six core areas for infection control. This action will enable you to assess the scope of the risk of infections that children under your supervision are exposed for</span>
                    </p>
                </div>
                <div class="single-ongoing blue ">
                    <%= image_tag '03.png' %>
                    <p>
                      <span class="practices-blu"><b> Get instruction in optimal infective practices</b><br>
                      Exclusive online instruction in infection control  available nowhere else—In this instruction component, your daycare staff will be trained and qualified in the six core areas of mitigating risk of infection and diseases in your facility. This  provides them a clear course of performance. The net results will be infection preventive choices that are intrinsically linked to healthier and safer childcare environment.</span>
                    </p>
                </div>
                <div class="single-ongoing all">
                <%= image_tag '04.png' %>
                    <p>
                      <span class="potential-gree"><b>Boost employee  confidence</b><br>
                      Our online  instruction courses  are designed to increase  your employees’ knowledge and understanding of health and safety issues which impact children in childcare. This course of action  reduces guesswork, replacing it with confidence and proactive conduct on the part of your employees. Lower employee stress, help  employees to thrive and  make  your childcare facility a better place to work.</span>
                    </p>
                </div>
                <div class="single-ongoing all">
                <%= image_tag '05.png' %>
                    <p>
                      <span class="potential-gree"><b>Decrease in absenteeism</b><br>
                      Operating your childcare facility according to The Health Preserving Care Standard also helps decrease the risk of infection . You know all too well these factors can drain your childcare of productivity.The optimum  “cure” for employee turnover due to unnecessary sickness of your staff is to have infection preventive infrastructure in place through health preserving care accreditation program</span>
                    </p>
                </div>
                <div class="single-ongoing all">
                    <%= image_tag 'ongoing_five.png' %>
                    <p>
                      <span class="potential-gree"><b>Avoid potentially costly lawsuits</b><br>
                      Health-preserving accreditation through HSCA certifies that your facility has the procedures and skilled personnel in place to uphold the highest standards of health and safety. This greatly diminishes the potential for a lawsuit against your facility, accusing you of indifference or professional negligence toward the safety of children in your care.</span>
                    </p>
                </div> 
                <div class="single-ongoing all">
                    <%= image_tag '08.png' %>
                    <p>
                      <span class="potential-gree"><b>Meet regulatory standards gets easier</b><br>
                      <span class=""><a href ="">http://www.iconarchive.com/show/e-commerce-icons-by-ebiene/checklist-icon.html</a></span>
                      HSCA accreditation gives you the tools to track and report key actions required to reduce risk and increase the health and safety of children and your daycare staff. Our app makes reporting faster and easier and simplifies the process of record keeping, thereby potentially avoiding costly shutdowns and problematic inspections.</span>
                    </p>
                </div>
                <div class="single-ongoing all">
                    <%= image_tag '09.png' %>
                    <p>
                    <span class="potential-gree">
                      <b>Get access to tools that enables your staff to work smarter</b><br>
                      Achieving the goal of a healthy and safe childcare facility is especially difficult without the correct tools. That is why accreditation program comes with  tools that enables daycare staff to  work smarter instead of  just harder to provide the most optimal health preserving care possible.</span>
                    </p>
                </div>
                <div class="single-ongoing all">
                    <%= image_tag '10.png' %>
                    <p>
                    <span class="potential-gree">
                    <b>Get the competitive edge</b><br> 
                    Going through the HSCA Accreditation Program is the best way to shine like a trustworthy beacon in the marketplace, thereby giving your business a true competitive edge as provider of comprehensive protection of children under your care and supervision. It’s not uncommon for parents to seek out and choose your childcare facility for their children, instead of others, due to your commitment to health preserving care. 
                    </span>
                    </p>
                </div>
                <div class="single-ongoing all">
                    <%= image_tag '11.png' %>
                    <p>
                    <span class="potential-gree">
                    <b>Positively affect  the next generation</b><br> 
                    Your  pursuit of excellence in health Preserving care raises the standards and behaviors of everyone around you. Children who observe the proper infection-prevention practices in use, both at home and in the childcare,will be learning life skills at a young age that they’ll be able to take with them for the rest of their lives. This way your staff and children’s parents can positively affect on the  generations to come. 
                    </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<script type="text/javascript">


</script>