<%= form_for [:admin, @plan] do |f| %>
	<div class="threecol"></div>
	<div class="ninecol last">
		<%= render partial: 'shared/admin/errors', locals: { object: @plan } %>
	</div>

	<div class="threecol">
  		<h3>Plan details</h3>
  		<p>Set the name, price and child allocation for your plan.</p>
	</div>
	<div class="ninecol last">
  		<fieldset class="widget widget-content widget-last">
			<div class="form-group">
				<%= f.label :name %>
				<%= f.text_field :name, :class => 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :price %>
				<%= f.text_field :price, :class => 'form-control' %>
			</div>
			<div class="form-group form-last">
				<%= f.label :allocation %>
				<%= f.number_field :allocation, :class => 'form-control' %>
			</div>
		</fieldset>
		<div class="form-action">
    		<%= f.submit 'Submit', :class => 'btn btn-blue btn-large' %>
		</div>
	</div>
<% end %>
