<div class="radio_title1">
  <ul class="list-group list-inline">
    <%= form_tag new_subject_attempt_path(@subject), method: :get, id: 'retake-form' do %>
      <% SurveySubject.all.each do |subject | %>
        <li>
          <div class="radio-toolbar">
            <input type="radio" name="subject_id" id="radio<%= subject.id %>" value="<%= subject.id %>" <%= "checked" if subject == @subject %>  class="retake-radio">
            <label for="radio<%= subject.id %>"></label>
            <p class="infection-name">
              <%= image_tag subject.icon.file.thumb, :class => 'module2' %>
              <span><%= subject.title %></span>
            </p>
          </div>
        </li>
      <% end %>
      <%= submit_tag 'Retake Test', :class => 'btn-retake' %>
    <% end %>
  </ul>
</div>
