<% content_for :page_title, "Todos" %>
<% content_for :previous_path, dashboard_path %>

<div class="row" id="todos">
    <div class="twelvecol">
        <%= form_tag search_todos_path, method: :get do %>
            <div class="form-prefix">
                <span><i class="icon-search"></i></span>
                <%= text_field_tag(:query, params[:query], autocomplete: 'off', tabindex: "1", :class => 'form-control') %>
            </div>
        <% end %>
        <div class="page-header">
            <h2>Available Todos</h2>
        </div>
        <% if current_user.available_todos.empty? %>
            <p>You have no avaiable todos at the moment.</p>
        <% else %>
            <ul>
                <% current_user.available_todos.each do |todo| %>
                    <li>
                        <div>
                            <%= todo.id %>
                            <%= image_tag todo.icon.file.thumb %>
                        </div>
                        <span><%= truncate(todo.title, length: 15) %></span>
                        <%= link_to 'Start', todo_todo_completes_path(todo), method: :post, :class => 'btn btn-green btn-normal btn-block' %>
                    </li>
                <% end %>
            </ul>
        <% end %>
        <div class="page-header">
            <h2>In Progress Todos</h2>
        </div>
        <% if current_user.incomplete_todo_completes.active.empty? %>
            <p>You have no todos in progress currently.</p>
        <% else %>
            <ul>
                <% current_user.incomplete_todo_completes.active.each do |todo_c| %>
                    <li>
                        <div>
                            <%= image_tag todo_c.todo.icon.file.thumb %>
                        </div>
                        <span><%= truncate(todo_c.todo.title, length: 15) %></span>
                        <%= link_to 'Show', todo_todo_complete_path(todo_c.todo, todo_c), :class => 'btn btn-blue btn-normal btn-block' %>
                    </li>
                <% end %>
            </ul>
        <% end %>
    </div>
</div>