<% content_for :page_title, "Search Todo" %>
<% content_for :previous_path, todos_path %>

<div class="row" id="todos">
    <div class="twelvecol">
        <div class="page-header">
            <h2>Search: <%= params[:query] %></h2>
        </div>
        <% if @todos.empty? %>
            <p>You have no Daycare todos matching the search parameters.</p>
        <% else %>
            <ul>
                <% @todos.each do |todo| %>
                    <li>
                        <div>
                            <%= image_tag todo.icon.file.thumb %>
                        </div>
                        <span><%= truncate(todo.title, length: 15) %></span>
                        <% if todo.in_progress?(current_user.id) %>
                            <%= link_to 'Show', manager_todo_path(todo), :class => 'btn btn-blue btn-normal btn-block' %>
                        <% else %>
                            <%= link_to 'Start', todo_todo_completes_path(todo), method: :post, :class => 'btn btn-green btn-normal btn-block' %>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        <% end %>
    </div>
</div>